mixin country-card(wrapperClass, title, text, options = {})
  li(class=wrapperClass + '__item')&attributes(attributes)
    div(class=wrapperClass + '__item-info')
      h3!= title
      p!= text
      div(class=wrapperClass + '__item-folowers')
        +icon("icon-user", 27, 24)
        span= options.counter
    div(class=wrapperClass + '__item-icon')
      +picture("content", options.icon, "png", options.width1, 47, options.altText1)
    div(class=wrapperClass + '__item-image', class=wrapperClass + '__item-image--desktop')
      +picture("content", options.image, "png", options.width, 140, options.altText)
    div(class=wrapperClass + '__item-image', class=wrapperClass + '__item-image--mobile')
      +picture("content", options.image2, "png", 270, 110, options.altText)
