mixin social(wrapperClass)
  ul(class=wrapperClass + '__social-list')
    li(class=wrapperClass + '__social-item')
      a(class=wrapperClass + '__social-link', href="#")
        +icon("icon-tg", 24, 24)
    li(class=wrapperClass + '__social-item')
      a(class=wrapperClass + '__social-link', href="#")
        +icon("icon-vk", 30, 16)
    li(class=wrapperClass + '__social-item')
      a(class=wrapperClass + '__social-link', href="#")
        +icon("icon-youtube", 24, 24)
